.job-card {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  
}

.job-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
}


.Approvebtn{
    background-color: green;
    margin-left: 10px;
}

.Rejectbtn{
    background-color: red;
    margin-left: 100px;
}
