
.custom_navbar_color{
    background: linear-gradient(135deg, #00c6ff, #007bff);
}
.navbar{
    height: 80px ;

}


.Jobseeker_dropdown{
    margin-left: 500px;
    background-color: white !important;
    color: #000000 !important;
    height: 40px !important;
    width: 100px;

}

@media (max-width: 768px) {
    .Jobseeker_dropdown {
      margin-left: 0;
    }
}




.HeaderLogo{
    width: 50px !important;
    height: 50px !important;
}


.UserIcon{
    width: 20px !important;  
    height: 20px !important;
    margin-right: 5px;
}

.EmployerIcon{
    width: 20px !important;  
    height: 20px !important;
    margin-right: 5px;

}

.EmployerDropdown{
    margin-left: 30px;
    height: 40px !important;
    background-color: white !important;
    color: #000000 !important;
    height: 40px !important;
    width: 110px;
}